<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide">
        <img >
        <h2>Welcome</h2>
        <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img >
        <h2>Welcome</h2>
        <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img >
        <h2>Welcome</h2>
        <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
       <ion-button fill="clear" (click)="redirection_tableau()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>

      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
