<!--<ion-header>
  <ion-toolbar>
    
 
    <ion-title slot="start">LOGO</ion-title>
    <ion-chip slot="end" (click)="parametre()">
      <ion-avatar>
        <img [src]="img">
      </ion-avatar>
      <ion-label>{{email}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>
-->


<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tableaubord">
        <ion-icon name="home"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="enfant">
        <ion-icon name="shirt-outline"></ion-icon>
        <ion-label>Carnet</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="taches">
        <ion-icon name="today-outline"></ion-icon>
        <ion-label>Taches</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="chats">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-label>Parler entre vous</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>