
    .toolbar_list{
        position: absolute;
    width: auto;
    height: 100%;
    border: 1px solid;
    z-index: 10;
    background-color: aliceblue;
    }

  /*ion-content{
    --ion-background-color:var(--ion-color-beige)
  }*/

      ion-slides {
        height:auto;
        overflow-y: inherit;
        display: unset;
        background-color:skyblue;
      }

      .formAdd{
        background-image:url('../../../../assets/images/photo-5.jpg');
      }



      .cl_nom_liste{
        display: flex;
    flex-direction: row;
    justify-content: center;
      }